---
import Layout from '../layouts/Layout.astro';
import SocialButton from '../components/SocialButton.astro';
import githubIcon from '../assets/icons/github.svg';
import linkedInIcon from '../assets/icons/linkedin.svg';
import ListSignupForm from '../components/ListSignupForm';
import funnotesImage from '../assets/funnotes.png';
import urlbitImage from '../assets/urlbit.png';
---

<Layout title="Farolan Faisal">
	<main id="root" class="min-h-[calc(100vh-80px)]">
		<div class="hey-c min-h-100vh flex flex-col justify-center items-center">
			<p class="hey hey-1 text-4xl">Hello there!</p>
			<p class="hey hey-2 text-4xl">I'm a full-stack developer from Indonesia</p>
			<p class="hey hey-3 text-4xl">and I love making apps and websites.</p>
			<p class="hey hey-4 text-4xl">Thanks for checking out!</p>
			<p class="name text-4xl">By the way, my name is Farolan</p>
		</div>

		<div class="projects-c">
			<div class="container container-ext">
				<h2>Projects</h2>

				<a href="https://play.google.com/store/apps/details?id=dev.farol.funnotes" target="_blank" rel="noopener">
					<h3 class="mb-2">FunNotes - Customizable Note Taking App</h3>
					<img src={funnotesImage} alt="FunNotes app" class="m-0 project-img funnotes-img shadow-lg" />
				</a><br />
				<a href="https://www.youtube.com/shorts/BdgugaiyBRc" target="_blank" rel="noopener">Video</a> | 
				<a href="https://play.google.com/store/apps/details?id=dev.farol.funnotes" target="_blank" rel="noopener">Store</a>

				<a href="https://url.gbits.me/" target="_blank" rel="noopener">
					<h3 class="mb-2">Urlbit - Free URL Shortener</h3>
					<img src={urlbitImage} alt="Urlbit app" class="m-0 project-img urlbit-img shadow-lg" />
				</a><br />
				<a href="https://rapidapi.com/farolan/api/url-shortener23" target="_blank" rel="noopener">Free URL Shortener API</a> | 
				<a href="https://play.google.com/store/apps/details?id=me.gbits.url.twa" target="_blank" rel="noopener">Store</a>

				<section>
					<h2 class="font-black">Want news and updates?</h2>
					<p class="text-2xl font-bold text-green-600">Sign up for my newsletter.</p>
					<ListSignupForm client:idle />
				</section>

				<section>
					<ul class="list-none flex flex-row items-center mt-50px">
						<li class="md:mr-10px">
							<SocialButton
								title="GitHub"
								iconSrc={githubIcon}
								href="https://github.com/farolanf"
							/>
						</li>
						<li class="md:mr-10px">
							<SocialButton
								title="LinkedIn"
								iconSrc={linkedInIcon}
								href="https://www.linkedin.com/in/farolanfaisal"
							/>
						</li>
					</ul>
				</section>
			</div>
			<footer class="h-80px flex justify-center items-center">
				Built from scratch with <span class="heart">❤️</span> by Farol
			</footer>
		</div>
	</main>
	<script>
		(function(){
			const STEP = 5
			const steps: number[] = []

			for (let i = 0; i <= 100; i += STEP) {
				steps.push(i)
			}

			const scrollEl = document.documentElement
			const clsEl = document.getElementById('root')!
			let prevT = 0

			function update() {
				const maxY = scrollEl.scrollHeight - scrollEl.clientHeight
				const t = window.scrollY / maxY * 100
				steps.forEach(n => {
					const cls = `t-${n}`
					const rcls = `rt-${n}`
					if (t < n) {
						clsEl.classList.remove(cls)
						if (prevT > n) clsEl.classList.add(rcls)
					}
					else {
						clsEl.classList.add(cls)
						clsEl.classList.remove(rcls)
					}
				})
				prevT = t
			}

			window.onload = () => {
				update()
				window.addEventListener('scroll', update)
			}
		})()
	</script>
</Layout>

<style lang="scss">
	.project-img {
		max-width: 512px;
	}
	.hey-c {
		background: linear-gradient(180deg, #a7f3d0, transparent);
	}
	.projects-c {
		background: linear-gradient(180deg, transparent, #e5e7eb);
	}
	.hey {
		transition: all 1s ease-out .2s;
		opacity: 0;
		transform: translateY(-20px);
		
		&.hey-2 {
			transition-delay: 1.2s;
		}
		&.hey-3 {
			transition-delay: 2.2s;
		}
		&.hey-4 {
			transition-delay: 3.2s;
		}

		.t-0 & {
			transform: translateY(0);
			opacity: 1;
		}
		.t-5 & {
			transition: all 1s ease-out 0s;
			opacity: 0;
		}
		.rt-5 & {
			transition-delay: 0s;
		}
	}
	.t-5 .hey-1 {
		transform: translateY(-50px);
	}
	.t-5 .hey-2 {
		transform: translateX(-50px);
	}
	.t-5 .hey-3 {
		transform: translateX(50px);
	}
	.t-5 .hey-4 {
		transform: translateY(50px);
	}
	.name {
		transition: all 1s ease-out .2s;
		opacity: 0;
		transform: translateY(120px);
	}
	.t-50 .name {
		opacity: 1;
		transform: translateY(200px);
	}
	.t-80 .name {
		opacity: 0;
		transform: translateY(180px);
	}

	.funnotes-img {
		position: relative;
		transition: all .8s ease-out;
		opacity: 0;
		transform: translateX(20px);
	}
	.t-20 .funnotes-img {
		opacity: 1;
		transform: translateX(0);
	}

	.heart {
		transition: all 1s ease-out;
		opacity: 0;
		transform: scale(2);
	}
	.t-100 .heart {
		opacity: 1;
		transform: scale(1);
	}
</style>
